*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(135deg, #f72585, #3a0ca3);
}
.container {
    /* border: 2px solid white; */
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
#newtask {
    position: relative;
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.3);
}
#newtask input {
    width: 70%;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: 2px solid rgb(165, 164, 164);
    border-radius: 5px;
    padding: 12px;
    color: black;
    font-weight: 500;
    position: relative;
}
#newtask input:focus {
    outline: none;
    border-color: #4a4e69;
}
#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #37b3b9;
    border: none;
    color: white;
    cursor: pointer;
}
#tasks {
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
}
.task {
    background-color: white;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(167, 167, 167);
    cursor: pointer;
}
.task span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button {
    background-color: #ff4d6d;
    color: white;
    height: 100%;
    width: 70px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.completed {
    text-decoration: line-through;
}
